<a href="https://colab.research.google.com/github/alexschwartzburg/Energy_Use_USA/blob/master/Analysis_of_Net_Energy_Consumption_USA_source_EIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as num
import pandas as pd
import matplotlib as mpb
import seaborn as sbn

data = pd.read_csv('/content/combined.csv')
data['State'].unique()
specials = ['US', 'DC']
states = []
regions = []

for x in data['State'].unique():
  if x in specials:
    regions.append(x)
  elif len(str(x)) == 2:
    states.append(x)
  elif len(str(x)) == 3:
    regions.append(x)

states_sorted = sorted(states)

print (states_sorted)
print (regions)
len(states)

['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
['SAT', 'NEW', 'PCN', 'MTN', 'WSC', 'US', 'MAT', 'ENC', 'ESC', 'DC', 'PCC', 'WNC']

KeyError: ignored

# There will be a title here

As usual we import the modules we'll be working with.  Numpy, pandas, matplotlib, and seaborn.  We also pull in our data and tell python to print a summary using the ```.info()``` function in pandas.

In [1]:
import numpy as num
import pandas as pd
import matplotlib as mpb
import seaborn as sbn

data = pd.read_csv('https://raw.githubusercontent.com/alexschwartzburg/Energy_Use_USA/master/combined.csv')
data.info()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4712 entries, 0 to 4711
Data columns (total 3 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Quarter                                               4712 non-null   object
 1   Net Energy Generation in thousands of Kilowatt Hours  4712 non-null   float64
 2   State                                                 4712 non-null   object
dtypes: float64(1), object(2)
memory usage: 110.6+ KB

In [16]:
data.columns

Index(['Quarter', 'Net Energy Generation in thousands of Kilowatt Hours',
       'State'],
      dtype='object')

As we can see the data is organized by both quarter (a time period) and State, a geographic area.  We should want to know how many of these there are, and what they are.  We can inspect this by obtaining the set of unique values in "State" and assessing what we get.

In [18]:
print(data['State'].unique())
print(len(data['State'].unique()))

['AK' 'AL' 'NY' 'OH' 'HI' 'DE' 'MO' 'WI' 'MT' 'SAT' 'WA' 'IL' 'RI' 'WV'
 'KY' 'GA' 'MD' 'NV' 'FL' 'NEW' 'PCN' 'MS' 'OK' 'TN' 'NE' 'NM' 'AR' 'ID'
 'MTN' 'WSC' 'ME' 'MA' 'US' 'SC' 'TX' 'CT' 'WY' 'CA' 'MAT' 'ENC' 'UT' 'SD'
 'AZ' 'IN' 'ESC' 'PA' 'NJ' 'DC' 'MI' 'IA' 'CO' 'ND' 'NC' 'LA' 'KS' 'NH'
 'PCC' 'OR' 'VT' 'WNC' 'VA' 'MN']
62

As we learned in grade school there's only 50 states in america.  Yet our "State" column has 62 entries.  We need to separate the states from the others.  We can take a closer look at the others later, but for now it seems sensible to isolate them.

In [19]:
data['State'].unique()
states = []
regions = []
specials = []

for x in data['State'].unique():
  if x in specials:
    regions.append(x)
  elif len(str(x)) == 2:
    states.append(x)
  elif len(str(x)) == 3:
    regions.append(x)

states_sorted = sorted(states)

print (states_sorted)
print (regions)
len(states)

['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'US', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
['SAT', 'NEW', 'PCN', 'MTN', 'WSC', 'MAT', 'ENC', 'ESC', 'PCC', 'WNC']

52

There seem to be two extra states.  It looks like 'DC' and 'US' are the extras.  We can dump them into the code above as "specials" to begin with.  Like soâ€¦

In [20]:
data['State'].unique()
states = []
regions = []
specials = ['DC','US'] #here

for x in data['State'].unique():
  if x in specials:
    regions.append(x)
  elif len(str(x)) == 2:
    states.append(x)
  elif len(str(x)) == 3:
    regions.append(x)

states_sorted = sorted(states)

print (states_sorted)
print (regions)
len(states)

['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
['SAT', 'NEW', 'PCN', 'MTN', 'WSC', 'US', 'MAT', 'ENC', 'ESC', 'DC', 'PCC', 'WNC']

50

Beautiful.

In [27]:
data['Quarter'].unique()

array(['Q4 2019', 'Q3 2019', 'Q2 2019', 'Q1 2019', 'Q4 2018', 'Q3 2018',
       'Q2 2018', 'Q1 2018', 'Q4 2017', 'Q3 2017', 'Q2 2017', 'Q1 2017',
       'Q4 2016', 'Q3 2016', 'Q2 2016', 'Q1 2016', 'Q4 2015', 'Q3 2015',
       'Q2 2015', 'Q1 2015', 'Q4 2014', 'Q3 2014', 'Q2 2014', 'Q1 2014',
       'Q4 2013', 'Q3 2013', 'Q2 2013', 'Q1 2013', 'Q4 2012', 'Q3 2012',
       'Q2 2012', 'Q1 2012', 'Q4 2011', 'Q3 2011', 'Q2 2011', 'Q1 2011',
       'Q4 2010', 'Q3 2010', 'Q2 2010', 'Q1 2010', 'Q4 2009', 'Q3 2009',
       'Q2 2009', 'Q1 2009', 'Q4 2008', 'Q3 2008', 'Q2 2008', 'Q1 2008',
       'Q4 2007', 'Q3 2007', 'Q2 2007', 'Q1 2007', 'Q4 2006', 'Q3 2006',
       'Q2 2006', 'Q1 2006', 'Q4 2005', 'Q3 2005', 'Q2 2005', 'Q1 2005',
       'Q4 2004', 'Q3 2004', 'Q2 2004', 'Q1 2004', 'Q4 2003', 'Q3 2003',
       'Q2 2003', 'Q1 2003', 'Q4 2002', 'Q3 2002', 'Q2 2002', 'Q1 2002',
       'Q4 2001', 'Q3 2001', 'Q2 2001', 'Q1 2001'], dtype=object)

In [24]:
data_by_state1 = []
data_by_state2 = []
for x in states:
  data_by_state1.append(x)
  data_by_state2.append(None)

data_by_state = dict(zip(data_by_state1,data_by_state2))

for x in data:
  for y in states:
      if data['State'] == states[y]:
        data_by_state[y] =

{'AK': None,
 'AL': None,
 'AR': None,
 'AZ': None,
 'CA': None,
 'CO': None,
 'CT': None,
 'DE': None,
 'FL': None,
 'GA': None,
 'HI': None,
 'IA': None,
 'ID': None,
 'IL': None,
 'IN': None,
 'KS': None,
 'KY': None,
 'LA': None,
 'MA': None,
 'MD': None,
 'ME': None,
 'MI': None,
 'MN': None,
 'MO': None,
 'MS': None,
 'MT': None,
 'NC': None,
 'ND': None,
 'NE': None,
 'NH': None,
 'NJ': None,
 'NM': None,
 'NV': None,
 'NY': None,
 'OH': None,
 'OK': None,
 'OR': None,
 'PA': None,
 'RI': None,
 'SC': None,
 'SD': None,
 'TN': None,
 'TX': None,
 'UT': None,
 'VA': None,
 'VT': None,
 'WA': None,
 'WI': None,
 'WV': None,
 'WY': None}